.setWidth {
  width: "50%";
}
.volumeRange:hover {
  display: block !important;
}

.volumeIcon:hover +.volumeRange {
  display: block !important;
}

@media only screen and (max-width: 992px) {
  .setWidth {
    width: "100%" !important;
  }
}
