* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.block {
  max-width: '100%';
  max-height: 500px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 15px 2px #111;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #fff;
  transition: all 500ms linear;
}

// .bg {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-image: url('background.jpg');
//   background-position: center;
//   background-size: cover;
//   transition: all 400ms ease;
// }

.block:hover .bg {
  transform: scale(1.1);
  transition: all 300ms linear;
}

/* Icon Box */
.iconBox {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateX(110px);
  transition: all 300ms ease;
}

.block:hover .iconBox {
  transform: translateX(0px);
}

.iconBox .icon i {
  color: #111;
  font-size: 20px;
  transition: all 300ms ease;
}

.iconBox .icon i:hover {
  cursor: pointer;
  color: rgb(76, 0, 255);
  transform: scale(1.2);
}
/* Icon Box */

/* Text Box */
.box {
  bottom: 20px;
  position: absolute;
  bottom: 20px;
  right: 0;
  color: #fff;
  padding: 0 20px;
  font-weight: 400;
  transform: translate(200px);
  transition: all 400ms ease;
}

.box p {
  letter-spacing: 3px;
  line-height: 150%;
}

.block:hover .box {
  transform: translateY(-90px) translateX(-80px);
  color: #111;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
/* Text Box */
