.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.siteLayoutBackgroundHeader {
    background: #fff;
}
.siteLayoutBackgroundBody {
    background: #fff;
    height: 100%;
}